@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol,li{
    list-style: none;
}
img{
    border: none;
}
a{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
body,html{
    height :100%;
    width:100%;
}
html{
    font-size:12px;
}
.clearfix{
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}